@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  background-color: azure;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(media/header_image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: Lora;
  padding: 200px 0px;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 100;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
}

header a {
  display: inline-block;
  margin-top: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: azure;
  padding: 15px;
}

header a:hover {
  color: white;
  background-color: black;
}

main {
  margin-top: 25px;
  background-color: white;
}

main h2 {
  margin: 0;
  font-family: Lora;
  text-align: center;
  font-size: 45px;
  letter-spacing: 3px;
}

main p {
  font-family: lato;
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  padding: 10px;
  filter: drop-shadow(3px 3px 10px rgb(105, 105, 104));
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 55px;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.secondary-section h2 {
  text-align: center;
  font-family: lora;
  font-size: 45px;
  letter-spacing: 3px;
}

.card {
  background-color: white;
  margin-top: 30px 0;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  filter: drop-shadow(3px 3px 10px rgb(105, 105, 104));
}

.card-body {
  padding: 35px;
}

.card h4 {
  text-align: center;
  font-family: lora;
  font-size: 25px;
}

.card p {
  font-family: lato;
  line-height: 1.5;
}

.card h5 {
  font-family: lato;
  margin-bottom: 35px;
}

.btn {
  text-align: center;
  display: block;
  font-family: lato;
  padding: 10px;
  background-color: azure;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.btn:hover {
  background-color: beige;
}

.image-responsive {
  max-width: 100%;
}

.embed {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.gallery {
  background-color: white;
  margin-bottom: 60px;
}

.gallery h2 {
  padding: 25px;
  font-family: lora;
  text-align: center;
  margin: 50px;
  font-size: 45px;
  letter-spacing: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
}

.repository {
  font-family: lato;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(media/footer_image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-family: lora;
  line-height: 1.5;
}

footer p {
  font-family: lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

footer li {
  list-style: none;
  line-height: 1.5;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
